* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    min-width:1195px;
}
.wrapper{
    width:1195px;
    margin: 0 auto;
}
.media-dis{
    display: flex;
}
.block-flex-colum{
    max-width: 256px;
}
.fintes-second .lorem{
    width: 297px;
    text-align: center;
    margin: 0 auto;
}
.fitnes-first .lorem{
    width: 297px;
    text-align: center;
    margin: 0 auto;
}
.home-page{
    padding-top: 50px;
    padding-bottom: 20px;
    background-image: url("home.png");
    width: 100%; 
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    box-sizing: border-box;
}
.fintes-hr{
    position: absolute ;
    bottom: 0;
    margin-bottom: 100px;
    margin-left: 100px;
}
img {
    display: block;
    border: none;
}
.home-avocado{
    display: flex;
}
.burger{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding-right: 14px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 0.97px;
}
.fonts-green-1{
    font-family: 'Open Sans', sans-serif;
    color:  #0a1f3f;
    font-size: 24px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    text-align: left;
    color: #ffffff;
    padding-bottom: 23px;
    margin-top: 23px;
}
hr{
    width:40px;
    background-color: #a2ca28;
    height: 3px;
    border: 0
}
.fitnes-hr-green{
    font-size: 40px;
    font-weight: 400;
    line-height: 70px;
    text-transform: uppercase;
    font-family: 'avenir-next', sans-serif;
    color: #ffffff;
}
.fitnes-hr-red{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 3px;
    display: flex;
    justify-content: flex-end;
    margin-right: 50px;
    color: #ffffff;
}
.green-hr-text{
    color: #fd634e;
}
.red-hr-text{
    color: #a2ca28;
}
.avocado-img{
    margin-left: 68px;
}
.fitnes-padding{
    margin-left: 10px;
}
.home-fonts{
    color: #ffffff;
    font-family: 'avenir-next', sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
.burger-menu{
    margin-right: 60px;
    font-family: 'avenir-next', sans-serif;
    color: #ffffff;
    font-size: 13px;
    line-height: 24px;
    text-align: right;
    text-decoration: none;
    text-transform: uppercase;
}
.red-line-bottom{
    width: 100%;
    content: '';
    position: absolute;
    bottom: 0;
    border-right: 98vw solid #fd634e ;
    border-top: 85px solid transparent;
    border-bottom: 25px solid  #fd634e;
    opacity: 0.4;
}
.red-mango{
    position: absolute;
    bottom:0;
    right: 0;
    margin-right: 41px;
    margin-bottom: 45px;
}
.small-text{
    color: #f7614c;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 45px;
    margin-right: 71px;
}
.ticket{
    display: flex;
    justify-content: space-between;
    margin-top: 63px;
    margin-left: 59px;
    margin-right: 58px;
}
.ticket-text{
    color: #ffffff;
    font-family: 'Raleway', sans-serif; 
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "2, 4th aug" */
    letter-spacing: 1.4px;
}
.ticket-flex{
    display: flex;
}
.img-clock .small-text{
    position: absolute;
    bottom: 0;
    left: 0;
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 49px;
}
.img-clock .red-mango{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-left: 165px;
}
.number{
    font-family: 'Open Sans', sans-serif;
font-size: 12px;
font-weight: 400;
line-height: 26px;
/* Text style for "(, 3, 4)" */
color: #ffffff;
}
.green{
    
    background-color:#a2ca28;
}
.red{
    background-color: #fd634e;
}
.fitnes-first{
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    min-height: 394px;
}
.fintes-second{
    width: 40%;
    height: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 394px;
    text-align: center;
}
.green-1{
    display: flex;
    padding-top: 100px;
}
.green-2{
    display: flex;
}
.red-photo{
    background: url(two-people.png) 100% no-repeat;
    width: 40%;
    background-size: cover;
    min-height: 330px;
}
.red-photo-2{
    width: 60%;
    background: url(man.png) 100% no-repeat;
    background-size: cover;
    min-height: 330px;
}
.red-2{
    display: flex;
}
.green-menu{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
    position: relative;
}
.red-1{
    display: flex;
    flex-direction: column;
}
.red-img{
    display: flex;
}
.red-text{
    display: flex;
}
.img-woman{
    width: 60%;
    background:url(woman.png)  100% no-repeat;
    background-size: cover;
    min-height: 330px;
    position: relative;
}
.red-photo-3{
    background: url(grapes.png) 100% no-repeat;
    width:60%;
    min-height: 330px;
    background-size: cover;
}
.red-photo-4{
    background: url(mango.png);
    width: 40%;
    min-height: 330px;
    background-size: cover;
}
.img-clock{
    background: url(clock.png) 100% no-repeat;
    background-size: cover;
    width: 60%;
    min-height: 394px;
    position: relative;
}
.red-text-first{
    display: flex;
}
.red-text-white{
    background-color: #ffffff;
    width: 40%;
    text-align: left;
    min-height: 330px;
}
.red-text-green{
    min-height: 330px;
    background-color: #a2ca28;
    width: 60%;
    box-shadow: 0 0 62px rgba(0, 0, 0, 0.2);
}
.red-text-green-1{
    min-height: 330px;
    background-color:#ffffff;
    width:60%;
}
.red-text-white-1{
    background-color: #a2ca28;
    width:40%;
    text-align: left;
}
.footer{
    background-image: url("footer-img.png");
    width: 100%; 
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
    position: relative;
    margin: 0;
    box-sizing: border-box;
}
.footer-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.gray-mango{
    margin:0 auto;
    padding-top: 25px;
    padding-bottom: 25px;
}
.icon{
    margin-top: 100px;
}
.size-icon{
    height: 50px;
}
.fonts-green{
    color: #ffffff;
    font-family: 'proxima-nova', sans-serif;
    color: #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    line-height: 24px;
}
.fonts-green-link{
    font-family: 'proxima-nova', sans-serif;
    color: #ffffff;
    font-size: 14px;/* Приближение из-за подстановки шрифтов */
    font-weight: 400;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    position: absolute;
    bottom: 0;
    margin-bottom: 50px;
}
.linki{
    text-decoration: none;
}
.green-red-text{
    color: #fd634e;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 55px;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "i, t’s all" */
    letter-spacing: 1.4px;
    padding-bottom: 13px;
}
.green-green-text{
    color: #a2ca28;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
}
.lorem{
    color: #656e74;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.green-h1-1{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 40px;
    margin-top: 11px;
    padding-bottom: 40px
}
.green-h1{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    margin-top: 64px;
    margin-left: 61px;
    padding-bottom: 10px;
}
.green-lorem{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    margin-top: 30px;
    margin-left: 61px;
}
.lorem-1{
    color: #656e74;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 39px; 
}
.lorem-2{
    color: #656e74;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px; 
    margin-left: 39px; 
    max-width: 297px;
}
.red-text-green .green-lorem{
    max-width: 612px;
}
.red-text-green-1 .lorem-1{
    max-width:625px;
    text-align: left;
}
.red-text-white-1 .green-lorem-1{
    max-width: 297px;
}
.green-green-text-2{
    color: #a2ca28;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase; 
    margin-left: 39px;
    margin-top: 13px;
    padding-bottom: 40px;
}
.green-red-text-2{
    color: #fd634e;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    margin-top: 55px;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "i, t’s all" */
    letter-spacing: 1.4px;
    margin-left: 39px;
    margin-top: 55px;
}
.green-green-text-1{
    color: #a2ca28;
    font-family: 'Open Sans', sans-serif;
    font-size: 35px;
    font-weight: 300;
    line-height: 30px;
    text-transform: uppercase;
    margin-left: 39px;
    padding-bottom: 40px;
}
.green-red-text-1{
    color: #fd634e;
    font-family: 'Raleway', sans-serif;;
    font-size: 14px;
    font-weight: 400;
    margin-top: 55px;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "i, t’s all" */
    letter-spacing: 1.4px;
   margin-top: 55px;
   margin-left: 39px;
   padding-bottom: 13px;
}
.green-lorem-1{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    margin-left: 40px;
}
.white-h1{
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 22px;
    text-transform: uppercase;
    /* Text style for "i, mprove" */
    letter-spacing: 1.7px;
    margin-top: 55px;
    margin-left: 40px;
}
.white-mango{
    display:flex;
    justify-content: space-between;
}
.one-man{
    display: flex;
    justify-content: space-between;
}
.Strawberry{
    display: flex;
    justify-content: space-between;
}
.read-more{
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    /* Text style for "Read More" */
    color: #a2ca28;
    text-decoration: underline;
}
.text-footer{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 45px;
    font-weight: 400;
    line-height: 40px;
    padding-bottom: 25px;
}
.footer-text{
    height: 40em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center 
}
.footer-line{
    width: 100%;
    position: absolute;
    bottom: 0;
}
.last-footer-1{
    display: flex;
}
.last-footer{
    background-color: black;
    min-height: 500px;
}
.display-column{
    display: flex;
    flex-direction: column;
}
a:hover{
    opacity: 0.6;
}
.footer-p{
    color: #ffffff;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    margin-top: 67px;
    padding-bottom: 29px;
}
.last-footer-text{
    color: #8297a7;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}
.flex-email{
    display: flex;
    margin-top: 53px;
}

.arrow-flex{
    display: flex;
    margin-left: 30px;
    width: 182px;
    height: 49px;
    border-radius: 3px;
    background-color: #a2ca28;
    color: #ffffff;
    text-decoration: none;
    font-family: 'proxima-nova', sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 49px;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: 3px;
    font-size: 15px;
    margin-left: 6px;
    padding-left: 32px;
}
.input-name{
    width: 201px;
    height: 49px;
    border-radius: 2px;
    margin-right: 10px;
    padding:  20px ;
}
.input-email{
    padding:  20px ;
    width: 340px;
    height: 49px;
    border-radius: 2px;
    margin-right: 10px;
}
.one-man-img{
    margin-top: 56px;
    margin-right: 28px;
}
.strawberry-img{
    margin-top:56px;
    margin-right: 46px;
}
.white-mango-img{
    margin-top:57px;
    margin-right: 34px;
}
.footer-icon{
    justify-content: space-between;
    display: flex;
}
.content-column{
    display: flex;
    flex-direction: column;
    margin-left: 49px;
}
.content-flex{
    display: flex;
}
.size-icon{
    margin-right: 20px;
}
.footer-icon-size{
    margin-left: 42px;
}
.arrow{
    width: 11px;
    height: 11px; 
    margin-top: 20px;
    margin-left: 5px;
}
.footer-lorem{
    max-width: 479px;
    color: #ffffff;
    font-family: "Open Sans",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0.16px;
}
.resources .last-footer-text{
    max-width: 373px;
}
.about-us .last-footer-text{
    max-width: 446px;
}
.triangles {
    --triangle-color: #000;
    --triangle-height: 100px;
    --triangle-width: 100vw;
    
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    height: var(--triangle-height);
}
  .triangles:after,
  .triangles:before {
    content: "";
    position: absolute;
    bottom: 0;
    display: block;
    border-style: solid;
}
  .triangles:before {
    left: 0;
    border-width: var(--triangle-height) 0 0 var(--triangle-width);
    border-color: transparent transparent transparent #000;
}
  .triangles:after {
    right: 0;
    border-width: 0 0 var(--triangle-height) var(--triangle-width);
    border-color: transparent transparent var(--triangle-color) transparent ;
}
  .line-red:after{
    background: #fd634e;
    border-radius: 60%;
    content: "";
    display: block;
    height:25px;
    left: -80%;
    position: absolute;
    bottom: 0;
    width: 150%;
}
@media screen and (min-width: 768px) and (max-width: 1023px){
.burger{
    flex-direction: column;
    text-align: center;
    padding: 0;
    min-height: 400px;
    justify-content: space-between
}
.block-flex-colum{
    max-width: 100%;
}
.media-column{
    flex-direction: column;
    width: 50%;
    margin: 0 auto;
}
.burger-menu{
    margin: 0 auto;
    font-size:30px;
    padding-top: 20px;
}
.media-dis{
    margin: 0 auto;
}
.green-red-text{
    margin-top: 20px;
}
.lorem-2{
    margin: 0 auto;
    text-align: center;
    font-size: 30px;
}
.one-man-img{
    display: none;
}
.media-green{
    margin: 0 auto;
}
.green-h1{
   text-align: center;
}
.media-red{
    margin: 0 auto;
}
.green-red-text-1{
    text-align: center;
    font-size: 35px;
}
.green-green-text-2{
    text-align: center;
}
.green-red-text-2{
    text-align: center;
    font-size: 35px;
}
.strawberry-img{
    display: none;
}
.lorem-1{
    font-size: 30px;
    margin: 0 auto;
}
.red-text-green-1 .lorem-1{
    text-align: center;
}
.media-h1{
    text-align: center;
    margin: 0 auto;
}
.white-mango-img{
    display: none;
}
.footer-p{
    font-size: 30px;
}
.last-footer-text{
    font-size: 30px;
}
.green-lorem-1{
    font-size: 30px;
    text-align: center;
    margin: 0 auto;
}
.green-lorem{
    margin: 0 auto;
    font-size: 30px;
    text-align: center
}
.lorem{
    font-size: 30px;
    padding-bottom: 20px;
}
.read-more{
    font-size: 25px;
    padding-bottom: 20px;
}
.avocado-img{
    margin: 0 auto;
}
.home-avocado{
    width: 50%;
    margin: 0 auto;
    flex-direction: column;
    justify-content: space-between;
}
.fintes-hr{
   text-align: right;
}
.green-menu {
    width: 45%;
    margin-bottom: 50px;
    flex-direction: column;
    margin: 0 auto;
    padding: 0;
}
.icon{
    margin: 0 auto;
    margin-top: 40px;
}
.fonts-green{
    text-align: center;
    font-size: 40px;
    font-weight:400;
    line-height: 49px;
}
.fonts-green-1{
    text-align: center;
    font-size: 32px;
    font-weight:600;
    line-height: 49px;
}
.fonts-green-link{
    text-align: center;
    position: relative;
    margin-bottom: 50px;
    font-size: 32px;
    font-weight:400;
    line-height: 49px;
}
.wrapper{
    width: 90%;
    margin: 0 auto;
}
.green-1{
    flex-direction: column;
    padding: 0;
    width: 100%
}
.fitnes-first{
    width: 100%;
}
.img-woman{
    width:100%;
}
.green-2{
    flex-direction: column;
}
.img-clock{
    width: 100%;
}
.fintes-second{
    width: 100%;
}
.red-img{
    flex-direction: column;
}
.red-photo{
    width: 100%;
}
.red-photo-2{
    width: 100%
}
.red-text-first{
    flex-direction: column;
}
.red-text-white{
    width: 100%;
}
.red-text-green{
    width: 100%
}
.red-img{
    flex-direction: column;
}
.red-photo-3{
    width: 100%
}
.green-lorem-1{
    margin-top: -20px;
}
.red-photo-4{
    width: 100%;
}
.red-text{
    flex-direction: column;
}
.red-text-green-1{
    width: 100%
}
.red-text-white-1{
    width: 100%
}
.last-footer-1{
    flex-direction: column;
}
.text-footer{
    text-align: center;
}
.content-column{
    margin: 0;
}
.footer-icon-size{
    margin: 0;
}
.footer-icon{
    max-width: 50%;
    margin: 0 auto;
    justify-content: space-around;
}
.content-flex{
    flex-direction: column;
}
form{
    flex-direction: column;
    margin: 0 auto;
}
.input-email{
    width: 201px;
    height: 49px;
    border-radius: 2px;
    margin-right: 10px;
    padding: 20px;
    
}
.footer-p{
    text-align: center;
}
.last-footer-text{
    text-align: center;
    margin: 0 auto;
}
button{
    margin: 0;
}
}
@media only screen  and (min-device-width: 480px) and (max-device-width:767px){
.wrapper{
    width: 80%;
}
.block-flex-colum{
    margin: 0 auto;
    max-width: 100%;
}
.green-menu {
    text-align: center;
    margin: 0 auto;
}
.burger{
    margin-top: 100px;
    min-height: 600px;
    justify-content: space-between;
}
.burger-menu{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight:600;
    line-height: 49px;
}
.home-fonts{
    font-size: 40px;
    font-weight:600;
    line-height: 49px; 
}
.fitnes-hr-red{
    font-size: 25px;
    font-weight:600;
    line-height: 49px;
}
.icon{
    width: 20%;
}
}
@media only screen and (min-device-width : 320px) and (max-device-width : 479px){
.wrapper{
    width: 100%;
}
.block-flex-colum{
    margin: 0 auto;
    max-width:60%;
}
.green-menu {
    text-align: center;
    margin: 0 auto;
}
.burger-menu{
    font-size: 40px;
    margin-bottom: 20px;
    font-weight:600;
    line-height: 49px;
}
.home-fonts{
    font-size: 40px;
    font-weight:600;
    line-height: 49px; 
}
.fitnes-hr-red{
    font-size: 25px;
    font-weight:600;
    line-height: 49px;
}
.icon{
    width: 20%;
}
}
